
body
{
font-family:Arial;

	background: grey;
		font-weight:bold;
		font-size:1.1em;
color:blue;


}

.css
{
	width:350px;
	
margin:auto;
	
	
}

.text
{
	margin:4px;
	padding:8px;
	width:22em;
	height:3em;
}

input[type='submit']:hover{
	cursor:hand;
}
.btnlogin
{
	width:22em;
	background: blue;
	
	border:2px solid blue;	
	padding:2px;
	color: black;
	font-weight:bold;
	
	padding-left:40px;
	
}

/*.btncreate
{
	width:22em;
	padding:2px;
	background:green;
	border:2px solid green;
		padding-left:40px;
	
	}*/

	
	a{
		padding:70px;
		text-decoration: none;
		color:green;
		font-weight:bold;
		font-size:1em;
		
	}
	
